<% provide(:title, "Dashboard") %>

<%= link_to "Sync with Strava", upload_path,
            class: "btn btn-theme btn-block" %>

<div class="row">
  <div class="col-md-8">
    <h3>My Impact</h3>

    <div class="progress">
      <div class="progress-bar" role="progressbar"
          aria-valuenow="<%= @user_progress %>" aria-valuemin="0"
          aria-valuemax="100" style="width:<%= @user_progress %>%">
      </div>
    </div>
    <center>
      <%= current_user.percent_progress.to_i %>% of goal complete
    </center>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">TeamThrive Totals</h1>
      </div>

      <div class="panel-body">
        <p><%= pluralize(User.count, 'user') %></p>
        <p><%= Activity.count %> activities uploaded</p>
        <% Activity.sports.each do |sport, _| %>
          <p>
            <span class="stat-label">Total <%= sport %> distance:</span>
            <%= distance_formatted_for(Activity.total_sport_distance(sport),
                                      current_user) %>
          </p>
        <% end %>
        <p>
          <span class="stat-label">Total fundraising:</span>
          $<%= "#{'%.2f' % Activity.total_dollars_raised}" %>
        </p>
        <p>
          <span class="stat-label">Total meals funded:</span>
          <%= Activity.total_meals_funded.round(1) %>
        </p>
      </div>
    </div>
  </div>
</div>
