<% provide(:title, @user.full_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= gravatar_for @user, size: 80 %>
        <%= @user.full_name %>
      </h1>
    </section>
  </aside>
</div>

<p>Email: <%= @user.email %></p>

<% if @user.strava_id %>
  <h3>Strava Stats</h3>
  <% strava_stats_for(@user).each do |stat, data| %>
    <% if data.class == Hash %>
      <h4><%= stat.titleize %>:</h4>
      <% data.each do |substat, subdata| %>
        <p><%= substat.titleize %>: <%= subdata %></p>
      <% end %>
    <% else %>
      <p><%= stat.titleize %>: <%= data %></p>
    <% end %>
  <% end %>
<% end %>
