<% provide(:title, "#{@user.firstname} #{@user.lastname}") %>

<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= gravatar_for @user, size: 80 %>
        <%= @user.firstname %> <%= @user.lastname %>
      </h1>
    </section>
  </aside>
</div>

<p>Email: <%= @user.email %></p>

<h3>Strava Stats</h3>
<% strava_stats_for(@user).each do |key, value| %>
  <p><%= key %>: <%= value %></p>
<% end %>
