<% provide(:title, @user.full_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= gravatar_for @user, size: 80 %>
        <%= @user.full_name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    <% if @user.activities.any? %>
      <h3>Recent Activities</h3>
      <ul class="activities">
        <%= render @activities %>
      </ul>
      <%= will_paginate @activities %>
    <% end %>
  </div>
</div>

<% if false %>
  <% if @user.strava_id %>
    <h3>Strava Stats</h3>
    <% strava_stats_for(@user).each do |stat, data| %>
      <% if data.class == Hash %>
        <h4><%= stat.titleize %>:</h4>
        <% data.each do |substat, subdata| %>
          <p><%= substat.titleize %>: <%= subdata %></p>
        <% end %>
      <% else %>
        <p><%= stat.titleize %>: <%= data %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
