<li id="activity-<%= activity.id %>">
  <%= link_to gravatar_for(activity.user, size: 50), activity.user %>
  <span class="title">
    <%= activity.title %>
  </span>
  <span class="user">
    <%= link_to activity.user.full_name, activity.user %>
  </span>
  <span class="date">
    <%= activity.start_date.strftime("%B %d, %Y") %>
  </span>
</li>
