<li id="activity-<%= activity.id %>">
  <%= link_to gravatar_for(activity.user, size: 50), activity.user %>
  <span class="user">
    <%= link_to activity.user.full_name, activity.user %>
  </span>
  <span class="title">
    <%= link_to activity.title, activity %>
  </span>
  <span class="date">
    <%= activity.start_date.strftime("%B %d, %Y") %>
  </span>
  <span class="data">
    <%= distance_formatted_for(activity.distance, current_user) %>
  </span>
</li>
