<li id="activity-<%= activity.id %>">
  <%= link_to gravatar_for(activity.user, size: 50), activity.user %>
  <h4 class="title">
    <%= activity.title %>
  </h4>
  <p class="date"><%= activity.start_date %></p>
  <p class="user">
    <%= link_to activity.user.full_name, activity.user %>
  </p>
</li>
