<% provide(:title, "Dashboard") %>

<%= link_to "Sync with Strava", upload_path,
            class: "btn btn-theme btn-block" %>

<div class="row">
  <div class="col-md-8">
    <h3>My Past 7 Days</h3>

    <div class="row row-centered">
      <% Activity.sports.each do |sport, _| %>
        <% if sport != "walk" || @user.weekly_distance(sport).positive? %>
          <div class="col-xs-6 col-centered">
            <%= icon_for(sport) %>
            <span>
              <%= distance_formatted_for(@user.weekly_distance(sport),
                                         current_user) %>
            </span>
          </div>
        <% end %>
      <% end %>
      <div class="col-xs-6 col-centered">
        <%= icon_for("meal") %>
        <span>
          <%= @user.weekly_meals_funded.round(1) %> meals funded
        </span>
      </div>
    </div>

    <h3>My Impact</h3>

    <div class="progress active">
      <div class="progress-bar" role="progressbar"
           aria-valuenow="<%= @user.percent_progress %>"
           aria-valuemin="0" aria-valuemax="100"
           style="width:<%= @user.percent_progress %>%">
      </div>
    </div>
    <center>
      <%= @user.percent_progress.to_i %>% of goal complete
    </center>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">TeamThrive Totals</h1>
      </div>

      <div class="panel-body">
        <p><%= pluralize(User.count, 'user') %></p>
        <p><%= Activity.count %> activities uploaded</p>
        <% Activity.sports.each do |sport, _| %>
          <p>
            <span class="stat-label">Distance <%= past_tensify(sport) %>:</span>
            <%= distance_formatted_for(Activity.total_sport_distance(sport),
                                      current_user) %>
          </p>
        <% end %>
        <p>
          <span class="stat-label">Total fundraising:</span>
          <%= dollarify(Activity.total_dollars_raised) %>
        </p>
        <p>
          <span class="stat-label">Total meals funded:</span>
          <%= Activity.total_meals_funded.round(1) %>
        </p>
      </div>
    </div>
  </div>
</div>
