<% provide(:title, "Activity Upload") %>

<h1>Activity Upload</h1>

<% if @strava_activities.any? %>
  <ol class="activities strava-activities">
    <% @strava_activities.each do |activity| %>
      <li id="activity-<%= activity["id"] %>">
        <div class="row">
          <div class="col-sm-9">
          <% if activity["map"]["summary_polyline"] %>
            <span class="map">
              <%= polyline_image(activity["map"]["summary_polyline"], 150) %>
            </span>
          <% end %>
          <span class="title">
            <%= link_to activity["name"], strava_activity_url(activity["id"]),
                        target: "_blank" %>
          </span>
          <span class="date">
            <%= activity["start_date"].to_datetime.strftime("%B %d, %Y") %>
          </span>
          <span class="distance">
            <%= distance_formatted_for(activity["distance"], current_user) %>
          </span>
        </div>
        <div class="col-sm-3">
          <%= form_for(@new_activity) do |f| %>
            <%= f.hidden_field :strava_activity_id, value: activity["id"] %>
            <%= f.hidden_field :title, value: activity["name"] %>
            <%= f.hidden_field :start_date, value: activity["start_date"].to_datetime %>
            <%= f.hidden_field :sport, value: activity["type"].downcase %>
            <%= f.hidden_field :distance, value: activity["distance"] %>
            <%= f.hidden_field :elevation_gain, value: activity["total_elevation_gain"] %>
            <%= f.hidden_field :moving_time, value: activity["moving_time"] %>
            <%= f.hidden_field :summary_polyline, value: activity["map"]["summary_polyline"] %>
            <%= f.hidden_field :comments, value: activity["description"] %>
            <%= f.submit "Upload Activity", class: "btn btn-theme" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>You have no recent activities on Strava.</p>
<% end %>
