<h1><%= @activity.title %></h1>

<p><%= @activity.start_date %></p>

<p><%= @activity.sport.titleize %></p>

<p>Distance: <%= distance_formatted_for(@activity.distance, current_user) %></p>

<p>
  Elevation Gain:
  <%= elevation_gain_formatted_for(@activity.elevation_gain, current_user) %>
</p>

<p>Time: <%= moving_time_formatted(@activity.moving_time) %></p>

<% if current_user == @activity.user %>
  <%= button_to "Delete Activity", @activity, method: :delete,
                class: "btn btn-danger",
                data: {
                  confirm: "Are you sure you want to delete this activity?"
                } %>
<% end %>
