<h1><%= @activity.title %></h1>

<p><%= @activity.start_date %></p>

<p><%= @activity.sport.titleize %></p>

<p>Distance: <%= @activity.distance %></p>

<% if current_user == @activity.user %>
  <%= button_to "Delete Activity", @activity, method: :delete,
                class: "btn btn-danger",
                data: {
                  confirm: "Are you sure you want to delete this activity?"
                } %>
<% end %>
